<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Homepage</title>
    <link href="/styles/manager/manager-homepage.css" rel="stylesheet">
</head>
<body>


    <div class="container">

        <nav class="navbar navbar-expand">

            <a class="navbar-brand" href="#">
                <img src="/Images/thumbnail_image252147.png" alt="Logo" height="40">
            </a>

            <ul>
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="#">Link Three</a></li>
            </ul>

        </nav>

    </div>

</body>
</html>