<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>My Teams</title>

    <link rel="icon" type="image/x-icon" th:href="@{/govuk-assets/images/favicon.ico}">
    <link rel="mask-icon" color="#0b0c0c" th:href="@{/govuk-assets/images/govuk-mask-icon.svg}">
    <meta name="theme-color" content="#0b0c0c">

    <link rel="stylesheet" th:href="@{/styles/govuk-frontend.css}">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <link rel="stylesheet" th:href="@{/styles/header-footer.css}">
</head>
<body class="govuk-template__body dsfw-page">

<div th:replace="~{fragments/HeaderAndFooter :: mainHeader}"></div>

<div class="govuk-width-container dsfw-page">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">My Teams</h1>

                <p class="govuk-body">
                    Here is a list of all the teams you are a member or manager of.
                </p>

                <div th:if="${not #lists.isEmpty(myMemberships)}">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Team Name</th>
                            <th scope="col" class="govuk-table__header">Your Role</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" th:each="membership : ${myMemberships}">
                            <td class="govuk-table__cell" th:text="${membership.team.teamName}">Team Name</td>

                            <td class="govuk-table__cell">
                                <strong class="govuk-tag"
                                        th:classappend="${membership.role == 'MANAGER'} ? 'govuk-tag--blue' : 'govuk-tag--grey'"
                                        th:text="${membership.role}">ROLE</strong>
                            </td>

                            <td class="govuk-table__cell">
                                <a th:if="${membership.role == 'MANAGER'}"
                                   th:href="@{'/manager/homepage/' + ${membership.team.id}}"
                                   class="govuk-link">Manage Team</a>
                                <span th:if="${membership.role != 'MANAGER'}" class="govuk-body-s">View Details</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:if="${#lists.isEmpty(myMemberships)}" class="govuk-inset-text">
                    You are not a member of any teams yet. Go to <a th:href="@{/home}" class="govuk-link">Home</a> to create or join a team.
                </div>

            </div>
        </div>
    </main>
</div>

<div th:replace="~{fragments/HeaderAndFooter :: mainFooter}"></div>

<script th:src="@{/scripts/govuk-frontend.js}"></script>
<script th:src="@{/scripts/gov-init.js}"></script>

</body>
</html>