<!DOCTYPE html>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Digital Skills Self Assessment</title>

    <link rel="icon" type="image/x-icon" th:href="@{/govuk-assets/images/favicon.ico}">
    <link rel="icon" type="image/svg+xml" th:href="@{/govuk-assets/images/govuk-logotype-crown.svg}">
    <link rel="mask-icon" color="#0b0c0c" th:href="@{/govuk-assets/images/govuk-mask-icon.svg}">
    <meta name="theme-color" content="#0b0c0c">

    <link rel="stylesheet" th:href="@{/styles/govuk-frontend.css}">
    <link rel="stylesheet" th:href="@{/styles/global.css}">
    <link rel="stylesheet" th:href="@{/styles/header-footer.css}">
    <link rel="stylesheet" th:href="@{/styles/self-assessment/self-assessment.css}" />
</head>
<body class="govuk-template__body">

<a class="govuk-skip-link" href="#main-content">Skip to main content</a>

<div class="dsfw-page">
    <div th:replace="~{fragments/HeaderAndFooter :: mainHeader}"></div>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">Digital Skills Self-Assessment</h1>

                    <p class="govuk-body-l intro-text">
                        Rate your confidence level for each skill statement below.
                    </p>

                    <form th:action="@{/self-assessment/submit}" th:object="${assessmentForm}" method="post">

                        <div th:each="entry : ${assessmentData}" class="category-section govuk-!-margin-bottom-8">
                            <h2 class="govuk-heading-l" th:text="${entry.key.name}">Category Name</h2>

                            <div th:each="skill : ${entry.value}" class="question-block govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <span class="question-text" th:text="${skill.name}">Question Text</span>
                                    </legend>

                                    <div class="radio-group-container">

                                        <span class="scale-label scale-label-left">I do not know this skill</span>

                                        <div class="radio-items-wrapper">
                                            <div class="govuk-radios__item custom-radio-item">
                                                <input class="govuk-radios__input" type="radio" th:field="*{answers[__${skill.id}__]}" value="1" required>
                                                <label class="govuk-label govuk-radios__label">1</label>
                                            </div>

                                            <div class="govuk-radios__item custom-radio-item">
                                                <input class="govuk-radios__input" type="radio" th:field="*{answers[__${skill.id}__]}" value="2">
                                                <label class="govuk-label govuk-radios__label">2</label>
                                            </div>

                                            <div class="govuk-radios__item custom-radio-item">
                                                <input class="govuk-radios__input" type="radio" th:field="*{answers[__${skill.id}__]}" value="3">
                                                <label class="govuk-label govuk-radios__label">3</label>
                                            </div>

                                            <div class="govuk-radios__item custom-radio-item">
                                                <input class="govuk-radios__input" type="radio" th:field="*{answers[__${skill.id}__]}" value="4">
                                                <label class="govuk-label govuk-radios__label">4</label>
                                            </div>

                                            <div class="govuk-radios__item custom-radio-item">
                                                <input class="govuk-radios__input" type="radio" th:field="*{answers[__${skill.id}__]}" value="5">
                                                <label class="govuk-label govuk-radios__label">5</label>
                                            </div>
                                        </div>

                                        <span class="scale-label scale-label-right">I am proficient</span>

                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <button type="submit" class="govuk-button" data-module="govuk-button">Submit Assessment</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <div th:replace="~{fragments/HeaderAndFooter :: mainFooter}"></div>
</div>

<script th:src="@{/scripts/govuk-frontend.js}"></script>
<script th:src="@{/scripts/govuk-init.js}"></script>
</body>
</html>